@import "./variables/colors.css";
@import "./variables/typography.css";
@import "./variables/shadows.css";
@import "./variables/spacing.css";
@import "./variables/radiuses.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer loader {
  .loader {
    border-radius: 50%;
    animation: spin 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

body,
html {
  background: var(--background);
  color: var(--text);
  font-family: Inter;
}

pre {
  background: transparent !important;
}

a {
  &:hover {
    color: var(--secondaryText);
  }
}

h1 {
  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
  font-size: 26px;
  font-weight: 600;
}

h2 {
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
  font-size: 20px;
  font-weight: 600;
}

h3 {
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  font-size: 16px;
  font-weight: 600;
}

li {
  font-size: var(--font-size-text-sm);
  line-height: var(--line-height-text-sm);
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    margin-block: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    opacity: 0.5;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

.shimmer {
  animation:
    fadeIn 500ms ease-out forwards,
    shimmer 2s linear infinite;
  animation-delay: 0s, 500ms;
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--shimmer) 25%,
    transparent 50%
  );
  background-size: 200% 100%;
}

.shimmer-no-fade {
  animation: shimmer 3s linear infinite;
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--shimmer) 25%,
    transparent 50%
  );
  background-size: 200% 100%;
}

.gold-shimmer {
  animation: shimmer 6s linear infinite;
  background: linear-gradient(
    to right,
    transparent 0%,
    #f8e65fcd 20%,
    transparent 5%
  );
  background-size: 200% 100%;
}

.react-flow__handle {
  opacity: 0;
}

[data-sonner-toast][data-styled="true"] [data-button] {
  background: transparent !important;
}

.react-syntax-highlighter-line-number {
  padding-right: 10px !important;
  min-width: 20px !important;
}

.sso-button {
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid var(--grey10);
  border-radius: 10px;
}

.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}

.react-flow__attribution {
  display: none !important;
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.react-grid-placeholder {
  border-radius: var(--radius-s);
  background-color: var(--primary) !important;
}

.react-grid-item.cssTransforms {
  transition-property: none !important;
}

.customize-grid .react-grid-item.cssTransforms {
  transition-property: transform !important;
}

@keyframes loading-dots {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(var(--scroll-distance));
  }
  55% {
    transform: translateX(var(--scroll-distance));
  }
  100% {
    transform: translateX(0);
  }
}

.range-slider-input {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 8px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
}

.range-slider-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background: transparent;
}

.range-slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-top: -8px;
}

.range-slider-input::-moz-range-track {
  width: 100%;
  height: 8px;
  border-radius: 9999px;
  background: transparent;
}

.range-slider-input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: none;
}
