@layer base {
    :root {
        /* Font weights */
        --font-weight-regular: 400;
        --font-weight-medium: 500;
        --font-weight-semibold: 600;
        --font-weight-bold: 700;


        /* Display 2xl */
        --font-size-display-2xl: 72px;
        --line-height-display-2xl: 90px;
        --letter-spacing-display-2xl: -0.02em;

        /* Display xl */
        --font-size-display-xl: 60px;
        --line-height-display-xl: 72px;
        --letter-spacing-display-xl: -0.02em;
        
        /* Display lg */
        --font-size-display-lg: 48px;
        --line-height-display-lg: 60px;
        --letter-spacing-display-lg: -0.02em;
                
        /* Display md */
        --font-size-display-md: 36px;
        --line-height-display-md: 44px;
        --letter-spacing-display-md: -0.02em;

        /* Display sm */
        --font-size-display-sm: 30px;
        --line-height-display-sm: 38px;
        
        /* Display xs */
        --font-size-display-xs: 24px;
        --line-height-display-xs: 32px;
                
        /* Text xl */
        --font-size-text-xl: 20px;
        --line-height-text-xl: 30px;

        /* Text lg */
        --font-size-text-lg: 18px;
        --line-height-text-lg: 28px;
        
        /* Text md */
        --font-size-text-md: 16px;
        --line-height-text-md: 24px;
                
        /* Text sm */
        --font-size-text-sm: 14px;
        --line-height-text-sm: 20px;
                        
        /* Text xs */
        --font-size-text-xs: 12px;
        --line-height-text-xs: 18px;
    }
}